/* your styles go here */

/** 切换主题相关样式开始 **/
.switch-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.switch-btn-group .custom-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 20px;
    user-select: none;
    cursor: pointer;
}

.switch-btn-group .blue {
    background-color: #3f00ff;
}

.switch-btn-group .green {
    background-color: #4fbfa8;
}

.switch-btn-group .pink {
    background-color: #ef5285;
}

.switch-btn-group .red {
    background-color: #ff3f3f;
}

.switch-btn-group .sea {
    background-color: #87ceeb;
}

.switch-btn-group .violet {
    background-color: #9055A2;
}
/** 切换主题相关样式结束 **/

/** 切换语言相关样式开始 **/
.switch-lang-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.switch-lang-group .lang-btn {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    margin: 0 20px;
    user-select: none;
    cursor: pointer;
    border: 1px solid #686868;
    color: #fff;
}
/** 切换语言相关样式结束 **/

.custom-hr {
    border:1px dashed #000;
}